<a href="https://colab.research.google.com/github/wicksonkold/Market-Sentiment-Analysis/blob/main/New_TA_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Money Flow Index
#Relative Strength Index
#Moving Average Convergence/Divergence

In [1]:
!pip install pandas --upgrade --quiet
!pip install numpy --upgrade --quiet
!pip install yfinance --upgrade --quiet
!pip install ta --upgrade --quiet
!pip install pygooglenews --upgrade --quiet
!pip install matplotlib --upgrade --quiet

     |████████████████████████████████| 362 kB 5.1 MB/s
     |████████████████████████████████| 1.2 MB 48.3 MB/s
     |████████████████████████████████| 128 kB 54.6 MB/s
  Building wheel for feedparser (setup.py) ... done
     |████████████████████████████████| 9.4 MB 2.5 MB/s
     |████████████████████████████████| 295 kB 57.8 MB/s
     |████████████████████████████████| 965 kB 46.2 MB/s

In [10]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import ta

def get_stocks(name):
  #time
  current_time = datetime.datetime.now()
  start_date = '2014-01-01'
  end_date = current_time

  # Set the ticker
  ticker = name 
  # Get the data
  data = yf.download(ticker, start_date, end_date)
  # Print the last 5 rows
  #print(data.head())
  df = pd.DataFrame(data=data)
  return df

In [11]:
#0023.HK - BEA
#0005.HK - HSBC
#^HSI - Heng Seng Index
df_stock_hsbc = get_stocks('0005.HK')
df_stock_bea = get_stocks('0023.HK')
df_stock_hsi = get_stocks('^HSI')

'''
df_stock_hsbc.to_excel("Stock HSBC.xlsx", index = None)
df_stock_bea.to_excel("Stock BEA.xlsx", index = None)
df_stock_hsi.to_excel("Stock HSI.xlsx", index = None)
'''

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

'\ndf_stock_hsbc.to_excel("Stock HSBC.xlsx", index = None)\ndf_stock_bea.to_excel("Stock BEA.xlsx", index = None)\ndf_stock_hsi.to_excel("Stock HSI.xlsx", index = None)\n'

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

'\ndf_stock_hsbc.to_excel("Stock HSBC.xlsx", index = None)\ndf_stock_bea.to_excel("Stock BEA.xlsx", index = None)\ndf_stock_hsi.to_excel("Stock HSI.xlsx", index = None)\n'

#TA

In [12]:
df_stock_hsbc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2205 entries, 2014-01-02 to 2022-12-06
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2205 non-null   float64
 1   High       2205 non-null   float64
 2   Low        2205 non-null   float64
 3   Close      2205 non-null   float64
 4   Adj Close  2205 non-null   float64
 5   Volume     2205 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 120.6 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2205 entries, 2014-01-02 to 2022-12-06
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2205 non-null   float64
 1   High       2205 non-null   float64
 2   Low        2205 non-null   float64
 3   Close      2205 non-null   float64
 4   Adj Close  2205 non-null   float64
 5   Volume     2205 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 120.6 KB

https://technical-analysis-library-in-python.readthedocs.io/en/latest/ta.html#trend-indicators

In [29]:
def df_ta(df):
  df['RSI'] = ta.momentum.RSIIndicator(df['Close'], window=14).rsi()
  df['MFI'] = ta.volume.MFIIndicator(df['High'],df['Low'],df['Close'],df['Volume'], window=14).money_flow_index()
  df['MACD'] = ta.trend.MACD(df['Close'],window_slow = 26, window_fast = 12, window_sign = 9).macd()
  #df["Returns"] = np.log(df['Close'] / df['Close'].shift())
  df["Returns"] = np.log(df['Adj Close'] / df['Adj Close'].shift())
  
  temp = []
  col_list = df["Returns"].values.tolist()
  for i in col_list:
    if i >= 0:
      temp.append(0)
    elif i < 0:
      temp.append(1)
    else:
      pass
  temp.append(None)
  

  df["Sorted_Return"] = temp

  #new_df = df.dropna()
  return df

In [30]:
new_df_stock_hsbc = df_ta(df_stock_hsbc) 
new_df_stock_bea = df_ta(df_stock_bea)
new_df_stock_hsi = df_ta(df_stock_hsi)

In [32]:
new_df_stock_hsbc

,Open,High,Low,Close,Adj Close,Volume,RSI,MFI,MACD,Returns,Sorted_Return
Date,,,,,,,,,,,
2014-01-02,84.900002,85.000000,84.199997,84.599998,54.600800,10601336,NaN,NaN,NaN,NaN,1.0
2014-01-03,84.050003,84.150002,82.699997,82.949997,53.535885,17021155,NaN,NaN,NaN,-0.019696,0.0
2014-01-06,83.099998,83.550003,82.550003,83.150002,53.664974,14257219,NaN,NaN,NaN,0.002408,0.0
2014-01-07,83.800003,84.250000,83.750000,83.900002,54.149021,13476694,NaN,NaN,NaN,0.008979,0.0
2014-01-08,85.599998,85.650002,84.900002,85.400002,55.117107,26505448,NaN,NaN,NaN,0.017720,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,47.400002,47.650002,46.900002,47.250000,47.250000,27847858,71.267704,80.291812,1.101848,0.021391,0.0
2022-12-01,47.599998,47.849998,46.849998,47.299999,47.299999,32156733,71.462470,81.235501,1.181916,0.001058,1.0
2022-12-02,47.299999,47.349998,46.700001,46.900002,46.900002,23145310,67.519282,71.885213,1.199270,-0.008493,0.0
2022-12-05,47.549999,47.650002,47.150002,47.200001,47.200001,27538208,68.905099,72.862347,1.223131,0.006376,0.0
2022-12-06,47.000000,47.349998,46.750000,47.349998,47.349998,17804089,69.603418,72.313993,1.239852,0.003173,NaN

In [33]:
new_df_stock_hsbc.to_excel("RSI Sorted.xlsx")

#Do Cross Correlation
-

In [17]:
'''
from datetime 
a = 'Sun, 28 Mar 2021 07:00:00 GMT'
b = a[5:16]
b = b.split(' ')
year = b[2]
month = b[1]
day = b[0]
month_dict = {'Jan' : '01',
        'Feb' : '02',
        'Mar' : '03',
        'Apr' : '04',
        'May' : '05',
        'Jun' : '06',
        'Jul' : '07',
        'Aug' : '08',
        'Sep' : '09',
        'Oct' : '10',
        'Nov' : '11',
        'Dec' : '12',
        }

for i in month_dict:
  if month == i:
    month = i.values()

resutl = year+'/'+month+'/'+day
'''

"\nfrom datetime \na = 'Sun, 28 Mar 2021 07:00:00 GMT'\nb = a[5:16]\nb = b.split(' ')\nyear = b[2]\nmonth = b[1]\nday = b[0]\nmonth_dict = {'Jan' : '01',\n        'Feb' : '02',\n        'Mar' : '03',\n        'Apr' : '04',\n        'May' : '05',\n        'Jun' : '06',\n        'Jul' : '07',\n        'Aug' : '08',\n        'Sep' : '09',\n        'Oct' : '10',\n        'Nov' : '11',\n        'Dec' : '12',\n        }\n\nfor i in month_dict:\n  if month == i:\n    month = i.values()\n\nresutl = year+'/'+month+'/'+day\n"

"\nfrom datetime \na = 'Sun, 28 Mar 2021 07:00:00 GMT'\nb = a[5:16]\nb = b.split(' ')\nyear = b[2]\nmonth = b[1]\nday = b[0]\nmonth_dict = {'Jan' : '01',\n        'Feb' : '02',\n        'Mar' : '03',\n        'Apr' : '04',\n        'May' : '05',\n        'Jun' : '06',\n        'Jul' : '07',\n        'Aug' : '08',\n        'Sep' : '09',\n        'Oct' : '10',\n        'Nov' : '11',\n        'Dec' : '12',\n        }\n\nfor i in month_dict:\n  if month == i:\n    month = i.values()\n\nresutl = year+'/'+month+'/'+day\n"